<!DOCTYPE>
<html>
    <head>
        <title>Prediction form</title>
        <style>
            body{
                font-family: Arial;
                margin: 40px;
            }
            input{
                margin: 5px;
                padding: 8px;
                width: 200px;
            }
            button{
                padding: 10px;
                background-color: goldenrod;
                color: white;
                border: none;
            }
        </style>
    </head>
    <body>
        <h2>Enter amount details</h2>
        <form action="/predict_form" method="post">
            <input type="text" name="Time" placeholder="Time"><br>
            <input type="text" name="Amount" placeholder="Amount"><br>
            <input type="text" name="V1" placeholder="V1"><br>
            <input type="text" name="V2" placeholder="V2"><br>
            <input type="text" name="V3" placeholder="V3"><br>
            <input type="text" name="V4" placeholder="V4"><br>
            <input type="text" name="V5" placeholder="V5"><br>
            <input type="text" name="V6" placeholder="V6"><br>
            <input type="text" name="V7" placeholder="V7"><br>
            <input type="text" name="V8" placeholder="V8"><br>
            <input type="text" name="V9" placeholder="V9"><br>
            <input type="text" name="V10" placeholder="V10"><br>
            <input type="text" name="V11" placeholder="V11"><br>
            <input type="text" name="V12" placeholder="V12"><br>
            <input type="text" name="V13" placeholder="V13"><br>
            <input type="text" name="V14" placeholder="V14"><br>
            <input type="text" name="V15" placeholder="V15"><br>
            <input type="text" name="V16" placeholder="V16"><br>
            <input type="text" name="V17" placeholder="V17"><br>
            <input type="text" name="V18" placeholder="V18"><br>
            <input type="text" name="V19" placeholder="V19"><br>
            <input type="text" name="V20" placeholder="V20"><br>
            <input type="text" name="V21" placeholder="V21"><br>
            <input type="text" name="V22" placeholder="V22"><br>
            <input type="text" name="V23" placeholder="V23"><br>
            <input type="text" name="V24" placeholder="V24"><br>
            <input type="text" name="V25" placeholder="V25"><br>
            <input type="text" name="V26" placeholder="V26"><br>
            <input type="text" name="V27" placeholder="V27"><br>
            <input type="text" name="V28" placeholder="V28"><br>
        </form>
    </body>
</html>