<!DOCTYPE html>
<html>
    <head>
        <title>
            Credit Card Fraud Detection
        </title>
        <style>
            body{
                font-family:Arial;
                text-align: center;
                margin-top: 100px;
            }
            a{
                padding: 10 px 20px;
                background-color: blue;
                color: white;
                text-decoration: none; 
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Credit Card Fraud Detection</h1>
        <p>Predict whether a fraus has happened or not</p>

        <a href="/predict_form">Go to prediction form</a>
    </body>
</html>